@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), color-stop(40%), to(#fff));
  background: -o-linear-gradient(bottom, #f5f5f5, 40%, #fff);
  background: linear-gradient(to top, #f5f5f5, 40%, #fff);
  padding: 29px 0px 42px 0px;
}

.container {
  max-width: 756px;
  margin: auto;
}

@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
}
.header .logo-row {
  text-align: center;
}
.header .logo-wrap {
  max-width: 403px;
  margin: auto;
}
.header .logo {
  width: 100%;
}
.header .navbar-burger {
  display: none;
}
.header .navbar {
  width: 100%;
  border-bottom: 3px solid #9DC5F0;
}
.header .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
}
.header .navbar__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  -webkit-box-shadow: 0 0 1px 1px #F4F4F4;
          box-shadow: 0 0 1px 1px #F4F4F4;
}
.header .navbar__link {
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0px;
  color: #5F5D67;
  font-family: "Roboto", sans-serif;
}
.header .navbar__link_active {
  color: #000;
}

@media (max-width: 605px) {
  .header .navbar-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #8DCCF8;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #279EF1;
  }
  .header .navbar-burger:hover {
    cursor: pointer;
  }
  .header .navbar-burger span {
    margin-bottom: 5px;
    width: 20px;
    height: 2px;
    background-color: black;
  }
  .header .navbar-burger span:last-child {
    margin: 0;
  }
  .header .navbar {
    display: none;
  }
  .header .navbar_visible {
    display: block;
  }
  .header .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description-section {
  -ms-flex-preferred-size: 64%;
      flex-basis: 64%;
  background-color: #fff;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.description-section .description-text {
  color: #555555;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.description-section .description__header {
  font-size: 24px;
  font-family: "Times New Roman";
}

.description_position {
  padding: 34px 34px 30px 29px;
}

.slider-section {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: auto;
  margin-top: 20px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.slider-section .fotorama {
  width: 100%;
}
.slider-section .fotorama img {
  max-width: calc(100% - 20px);
}

.schedule-section {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  background-color: #fff;
}
.schedule-section .schedule-text {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 14px;
}
.schedule-section .schedule__header {
  font-size: 24px;
  font-family: "Times New Roman";
}

.schedule_position {
  padding: 34px 17px 30px 30px;
}

.copyright-section {
  padding-top: 15px;
}
.copyright-section .copyright {
  color: #5F5D67;
  font-size: 12px;
  opacity: 0.5;
}

@media (max-width: 666px) {
  .description-section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .slider-section {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .schedule-section {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: auto;
  }
}